* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  color: #333;
  height: 100%;
}

html {
  font-size: 16px;
  height: 100%;
}

.news-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.search-aside-container {
  display: flex;
  flex-direction: column;
  border-right: 1px solid #EAECF0;
  width: 280px;
  gap: 1rem;
  border: 0px 1px 0px 0px;
  justify-content: space-between;
  opacity: 0px;
}

.search-line {
  display: flex;
  flex-direction: column;
  padding: 1.7rem 1rem;
  gap: 1rem;
}

.search-line>input {
  width: 232px;
  height: 36px;
  padding: 8px 16px 8px 16px;
  gap: 8px;
  border-radius: 8px;
  border: 1px;
  opacity: 0px;
  border: 1px solid #EAECF0
}

.logo-container {
  display: flex;
  flex-direction: row;
  width: 170px;
  height: auto;
  gap: 1rem;
  opacity: 0px;
}

.logo-container>img {
  max-width: 32px;
}

.search-aside-container>footer {
  width: Fill (280px)px;
  height: 136px;
  padding: 32px 24px 32px 24px;
  gap: 10px;
  opacity: 0px;
  border-right: 1px solid #EAECF0
}

.search-container {
  width: 280px;
  /*height: 308px;*/
  gap: 1rem;
  opacity: 0px;
  flex: 1;
}

.resources-container {
  width: 280px;
  /*height: 168px;*/
  padding: 0px 1rem;
  gap: 1rem;
  opacity: 0px;
}

.resources-container>h2 {
  width: Fill (248px)px;
  height: 36px;
  padding: 6px 8px 6px 8px;
  gap: 8px;
  border-radius: 8px;
  opacity: 0px;
  background: #F2F4F7;
}

.resources-container>p {
  width: Fill (248px)px;
  height: 40px;
  padding: 8px 8px 8px 24px;
  gap: 8px;
  border-radius: 8px;
  opacity: 0px;
}

.news-main-container {
  display: flex;
  flex-direction: column;
}

.nav-conatiner {
  width: Fixed (1, 640px)px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  top: 2px;
  padding: 32px 32px 24px 32px;
  gap: 24px;
  border: 0px 0px 1px 0px;
  border-bottom: 1px solid #EAECF0;
  gap: 10px;
  opacity: 0px;

}

.nav-conatiner>h2 {
  font-family: Inter;
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
}

.sort-dropdown-container {
  position: relative;
}

.dropdown-list {
  width: Fixed (230px)px;
  height: 128px;
  list-style-type: none;
  padding: 6px;
  margin: 0;
  display: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  position: absolute;
  /*top: 100%;*/
  /*left: 0;*/
  z-index: 1000;
  gap: 4px;
  opacity: 0px;
  box-shadow: 0px 4px 16px 0px #00000014;
}

.dropdown-list li {
  width: Fill (218px)px;
  height: 36px;
  cursor: pointer;
  padding: 6px 16px 6px 16px;
  gap: 8px;
  border-radius: 6px;
  opacity: 0px;
}

.dropdown-list li:hover {
  background: #F2F4F7;
}

.dropdown-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;

  width: 178px;
  height: auto;
  padding: 8px 16px 8px 16px;
  gap: 8px;
  border-radius: 8px;
  border: 1px;
  opacity: 0px;
  border: 1px solid #EAECF0
}


.news-block-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1.5rem 2rem;
}

.news-article-container {
  width: Fill (370px)px;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-radius: 8px;
  gap: 1rem;
  border: 1px solid #EAECF0;
  /*opacity: 0px;*/
}

.news-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*width: Fill (322px)px;*/
  /*height: 24px;*/
  gap: 1rem;
  /*opacity: 0px;*/
}

.article-subject,
.article-date {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  color: #667085;
}

.resources-container,
.news-block-container {
  flex: 1;
}

@media (max-width: 900px) {
  .logo-container>img {
    display: none;
  }

  .logo-container>h2 {
    width: 120px;
    height: auto;
  }

  .news-block-container {
    grid-template-columns: 1fr 1fr;
  }

  .search-container {
    width: 140px;
    gap: 4rem;
  }

  .resources-container {
    gap: 2rem;
  }

  .resources-container>h2 {
    width: 120px;
    height: auto;
  }

  .search-line>input {
    width: 100px;
    height: auto;
  }
}

@media (max-width: 500px) {

  .news-block-container {
    grid-template-columns: 1fr;
  }
}
