* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #FFFFFF;
  color: #333;
  height: 100%;
}

html {
  font-size: 16px;
  height: 100%;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.hidden,
#aside-btn {
  display: none;
}

.news-container {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.search-aside-container {
  display: grid;
  grid-template-rows: 1fr auto;
  border-right: 1px solid #EAECF0;
  width: 30%;
  gap: 1rem;
  border: 0px 1px 0px 0px;
  /*align-content: space-between;*/
}

.search-container,
.search-aside-container>footer {
  width: 100%;
  height: auto;
}

.search-line {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: auto;
  padding: 1.7rem 1rem;
  gap: 1rem;
}

.search-line>input {
  width: 100%;
  height: auto;
  padding: 8px 16px 8px 16px;
  gap: 8px;
  border-radius: 8px;
  border: 1px;
  opacity: 0px;
  border: 1px solid #EAECF0
}

.logo-container {
  display: grid;
  grid-template-columns: auto 1fr;
  width: 100%;
  height: auto;
  gap: 1rem;
}

.logo-container>img {
  max-width: 32px;
}

.search-aside-container>footer {
  padding: 32px 24px 32px 24px;
  gap: 10px;
  opacity: 0px;
  border-right: 1px solid #EAECF0
}

.search-container {
  width: auto;
  /*height: 308px;*/
  gap: 1rem;
  opacity: 0px;
}

.resources-container {
  width: 100%;
  height: auto;
  padding: 0px 1rem;
  gap: 1rem;
  opacity: 0px;
}

.resources-container>h2 {
  width: 100%;
  height: auto;
  padding: 6px 8px 6px 8px;
  gap: 8px;
  border-radius: 8px;
  opacity: 0px;
  background: #F2F4F7;
}

.resources-container>p {
  width: 100%;
  height: auto;
  padding: 8px 8px 8px 24px;
  gap: 8px;
  border-radius: 8px;
  opacity: 0px;
}

.news-main-container {
  display: grid;
  /*flex-direction: column;*/
  grid-template-rows: auto 1fr;
}

.nav-conatiner {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  top: 2px;
  padding: 32px 32px 24px 32px;
  gap: 24px;
  border: 0px 0px 1px 0px;
  border-bottom: 1px solid #EAECF0;
  gap: 10px;
  opacity: 0px;

}

.nav-conatiner h2 {
  font-size: 30px;
  font-weight: 600;
  line-height: 40px;
  text-align: left;
}

.sort-dropdown-container {
  position: relative;
}

.dropdown-list {
  width: Fixed (230px)px;
  height: auto;
  list-style-type: none;
  padding: 6px;
  margin: 0;
  display: none;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  position: absolute;
  /*top: 100%;*/
  /*left: 0;*/
  z-index: 1000;
  gap: 4px;
  opacity: 0px;
  box-shadow: 0px 4px 16px 0px #00000014;
}

.dropdown-list li {
  width: Fill (218px)px;
  height: 36px;
  cursor: pointer;
  padding: 6px 16px 6px 16px;
  gap: 8px;
  border-radius: 6px;
  opacity: 0px;
}

.dropdown-list li:hover {
  background: #F2F4F7;
}

.dropdown-btn {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  cursor: pointer;

  width: 178px;
  height: auto;
  padding: 10px 16px;
  gap: 8px;
  border-radius: 8px;
  border: 1px;
  opacity: 0px;
  border: 1px solid #EAECF0
}


.news-block-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  margin: 1.5rem 2rem;
}

.news-article-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  animation-name: image-exist;
  animation-duration: 2s;
  /*grid-template-rows: 0.5fr 3fr 1fr 1fr;*/
  /*flex-direction: column;*/
  padding: 1.5rem;
  border-radius: 8px;
  gap: 1rem;
  border: 1px solid #EAECF0;
  /*opacity: 0px;*/
}

@keyframes image-exist {
  from {
    transform: translateX(60%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}


.news-header {
  display: grid;
  grid-template-columns: 1fr auto;

  gap: 10%;
}

.article-subject,
.article-date {
  font-size: 1rem;
  font-weight: 400;
  text-align: left;
  color: #667085;
}

@media (min-width: 1200px) {
  .search-aside-container {
    display: grid;
  }

  #overlay {
    display: none;
  }
}

@media (max-width: 1200px) {
  #aside-btn {
    background: #FFFFFF;
    display: block;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    border-radius: 8px;
    border: 1px;
    font-size: 2rem;
    cursor: pointer;
  }

  .nav-title {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }

  .news-block-container {
    grid-template-columns: 1fr 1fr;
  }

  .search-aside-container {
    display: none;
    position: fixed;
    height: 100%;
    z-index: 4;
    background: #FFFFFF;
  }

  .search-aside-container.open {
    left: 0;
    display: grid;
    transform: translateX(0);
  }
}

@media (max-width: 950px) {
  .logo-container>img {
    display: none;
  }
}

@media (max-width: 700px) {
  .news-block-container {
    grid-template-columns: 1fr;
  }
}
